{%- layout 'theme' -%}

<div class="Avada-Page-Wrapper page-width">

  <div class="Avada-TagSearch-Wrapper">
    <img src="{{ 'icon-search.svg' | asset_url }}" width="20" height="20" />
    <input type="text" id="Avada-TagSearch" placeholder="Search tags..." />
  </div>

  <div id="Avada-Tags"></div>
  <div class="Avada-Wrapper">
    <div id="Avada-ListArticles"></div>
  </div>

  <div id="Avada-Pagination"></div>
</div>
